// Vengono messe tutte le regole in comune

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  font-size: $fontSizeBase;
}

a {
  text-decoration: none;
  color: $primaryColor;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.menu {
  list-style: none;
}

.btn {
  // Importo il btn che ho creato nel file "_mixins.scss"
  @include btn($secondColor, $thirdColor, 5px, 10px, 20px);
}
