.jumbo {
  width: $widthInner;
  height: $jumboHeight;
  margin: auto;
  margin-top: 100px;

  &-left {
    float: left;
    width: 50%;
    text-align: left;
    color: $primaryColor;

    &-title {
      line-height: 70px;
      margin-bottom: 20px;
      h1 {
        font-size:$fontSizeBase * 3;
      }
    }

    &-text {
      line-height: 30px;
    }

    .jumbo-btn {
      margin-top: 20px;
      ul {
        display: flex;
        align-items: center;
        li {
          padding-right:10px;
           a.btn {
             @include btn-jumbo (black, #30488F, 5px, 10px, 10px, white);
             font-size: 15px;
               img {
                 height: 15px;
                 vertical-align: middle;
               }
           }
        }

      }
    }


  }

  &-right {
    img {
      width: 50%;
      vertical-align: middle;
    }
  }




}
