//colors
$primaryColor: #58402B;
$secondColor: #263971;
$thirdColor: #ccc;


//Typo
$fontFamily:'Roboto', sans-serif;
$fontSizeBase: 18px;

//size
$widthInner: 85%;
$headerHeight: 85px;

//mediaquery
$breackpointSmall: 767px;
